<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keep.sso.mapper.KeepUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.keep.sso.entity.KeepUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="must_change_password" property="mustChangePassword" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="dept_id" property="deptId" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, real_name, mobile, email, must_change_password, update_time, create_time, dept_id, deleted
    </sql>

</mapper>
