<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keep.sso.ticket.mapper.KeepUserDeviceTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.keep.sso.ticket.entity.KeepUserDeviceType">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="device_type" property="deviceType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, device_type, create_time
    </sql>

</mapper>
