<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardingjdbc.mapper.GoodsMapper">

<!--
原符号       <        <=      >       >=       &        '        "
替换符号    &lt;    &lt;=   &gt;    &gt;=   &amp;   &apos;  &quot;
-->
    <select id="selectListByUserId" resultType="com.example.shardingjdbc.bean.Goods">
        select * from goods where user_id &lt;= #{i}
    </select>
</mapper>
